<div *ngIf="ready; else loading">
    
    <div id="search-datatable" class="p-16">
            <app-dynamic-table-search *ngIf="SearchColumns" [Columns]="SearchColumns" ></app-dynamic-table-search>
    </div>

    <div id="ngx-datatable" class="p-16">
        <mat-toolbar>
            <mat-toolbar-row>
                <span>{{tablemetadata.Plural}}</span>
                <span class="example-spacer">

                </span>
                <span class="=example-icon button-padd">
                    <button mat-mini-fab color="default">
                        <mat-icon aria-label="Activar filtro" (click)="openSearchDialog()">filter_list</mat-icon>
                    </button>
                </span>
                <span class="=example-icon button-padd">
                    <button mat-mini-fab color="default" (click)="openColumnDialog()">
                        <mat-icon aria-label="Elegir columnas">view_column</mat-icon>
                    </button>
                </span>
                <span class="=example-icon button-padd">
                    <button mat-mini-fab color="default">
                        <mat-icon aria-label="Elegir columnas">style</mat-icon>
                    </button>
                </span>
            </mat-toolbar-row>
        </mat-toolbar>

        <ngx-datatable class="material" [rows]="rows" [loadingIndicator]="loadingIndicator" [columnMode]="'force'" [headerHeight]="48"
            [footerHeight]="56" [rowHeight]="'auto'" [scrollbarH]="true" [reorderable]="reorderable" [selectionType]="'checkbox'"
            [limit]="10">

            <ngx-datatable-column *ngFor="let col of GetVisibleCols()" [name]="col.Traslation">
            </ngx-datatable-column>

        </ngx-datatable>

    </div>


    <ng-template #loading>
        <div class="p-16">
            <mat-card class="material ngx-datatable p-16">
                <mat-progress-bar mode="buffer"></mat-progress-bar>
                <div class="p-32">
                    <img mat-card-image src="../../../../assets/images/dummy/table-800x500.png">
                </div>

            </mat-card>
        </div>
    </ng-template>