.search-container {
    display: flex;
    flex-direction: row;
  }
  
  .search-container > * {
    width: 100%;
  }

.search-table{
    width: 100%;
}
.search-table-label{
    width: 25%;
}
.search-table-comparer{
    width: 25%;
}
.search-table-editor{
    width: 25%;
}

 
.control-full-width {
    width: 100%;
}