<mat-toolbar>
  <mat-toolbar-row>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <span fxFlex="50">Buscar</span>
      <div fxFlex fxLayoutAlign="end center">
        <mat-form-field>
          <mat-select placeholder="" [(ngModel)]="SelectedValue">
            <mat-option *ngFor="let col of Columns" value="{{col.ShortId}}">{{col.Traslation}}</mat-option>
          </mat-select>
        </mat-form-field>
        &nbsp;
        <button mat-mini-fab color="default" (click)="AddFiltered()">
          <mat-icon aria-label="Añadir columnas">add</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-accordion>
  <mat-expansion-panel [expanded]="searchPanelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        
      </mat-panel-title>
      <mat-panel-description>
        <div [hidden]="getHumannReadable()==''">
            {{getHumannReadable()}}
        </div>
        
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div [fxLayout]="getFlexOrientation()"  fxLayoutAlign="start start" fxLayoutGap="10px" class="flex-wrap">
        <span *ngFor="let item of FilteredColumns">  
            <app-dynamic-table-field-search fxFlex (remove)="removeItem($event)" 
              [SearchField]="item">
            </app-dynamic-table-field-search>
          </span>

    </div>

  </mat-expansion-panel>

</mat-accordion>